<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MEDIAONDEMANDDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=MEDIAONDEMANDDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Twitter.Web.Controls" namespace="Twitter.Web.Controls" tagPrefix="twc"/>
      </controls>
    </pages>
    <httpRuntime/>
  </system.web>
</configuration>