<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MediaOnDemand.Properties.Settings.aspnetdbConnectionString2"
        connectionString="Server=localhost;Initial Catalog=MediaOnDemandDB;User ID=dbuser;Password=Supersaiyan4"
        providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>