<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MEDIAONDEMANDDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=MEDIAONDEMANDDBDEV;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false">
      <controls>
        <add assembly="Twitter.Web.Controls" namespace="Twitter.Web.Controls" tagPrefix="twc" />
      </controls>
    </pages>
    <httpRuntime />    
  </system.web>
    <system.webServer>
        <staticContent>
            <remove fileExtension=" .mp4 " />
        </staticContent>
    </system.webServer>
</configuration>