.ajax__progress_outer
{
	border-top:solid 1px #000;
	border-bottom:solid 1px #000;	
}

.ajax__progress_inner
{
	position:relative;
	border-left:solid 1px #000;
	border-right:solid 1px #000;
	margin:0pt -1px;
	height:10px;
	background:url(<%=WebResource("MattBerseth.WebControls.AJAX.Progress._assets.img.progress_bg.gif")%>) repeat-x;
}

.ajax__progress_indicator
{
	width:0px;
	height:10px;
	background:url(<%=WebResource("MattBerseth.WebControls.AJAX.Progress._assets.img.progress.gif")%>) repeat-x;
	overflow:hidden;
}

.ajax__progress_info
{
	font-family:Calibri, Sans-Serif;
	font-size:10pt;
	text-align:center;
	color:#666;
}

/* applied to the text while the progress is updating */
.updating .ajax__progress_info{ color:#000; }
	