<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="MediaOnDemandConnectionString" connectionString="server=.\SQLEXPRESS;AttachDbFilename=C:\HostedWebSites\MediaOnDemand\App_Data\MediaOnDemandDB.mdf;User ID=dbuser;Password=supersaiyan" />
  </connectionStrings>
</configuration>