<?xml version="1.0"?>
<configuration>
  <connectionStrings>    
    <add name="MediaOnDemandConnectionString" connectionString="server=.\SQLEXPRESS;AttachDbFilename=C:\HostedWebSites\MediaOnDemand\App_Data\MediaOnDemandDB.mdf;User ID=dbuser;Password=supersaiyan"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
